<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Spotify Listening History</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="spotify-outer">
        <h1>Spotify Recently Played</h1>
            {% if songs %}
            <a href="/monthly">Check your monthly mood ➜</a>
                <div class="song-list">
                {% for song in songs %}
                    <div class="song-card">
                        <div class="song-title">{{ song.name }}</div>
                        <div class="song-artist">by {{ song.artist }}</div>
                        <div class="song-played-at">Played at {{ song.played_at }}</div>
                    </div>
                {% endfor %}
                </div>

                <div class="pagination">
                {% if page > 1 %}
                    <a href="{{ url_for('recent') }}?page={{ page - 1 }}">← Previous</a>
                {% endif %}

                <span>Page {{ page }} of {{ total_pages }}</span>

                {% if page < total_pages %}
                    <a href="{{ url_for('recent') }}?page={{ page + 1 }}">Next →</a>
                {% endif %}
            </div>
            
            {% else %}
                <a href="{{ url_for('login') }}">Login with Spotify</a>
            {% endif %}
    </div>
</body>
</html>
